## **Conditional Statements**

In [11]:
study_time = 10
if(study_time>=10):
  print("You are going to succeed")
else:
  print("You are going to fail")

You are going to succeed

In [10]:
x = 10
if x >= 10:
  print("X is positive")

print("This is outside if block")

X is positive
This is outside if block

Task 1 : Given a number verify that the number is a multiple of 2 or not

In [14]:
number = int(input("Enter a Number "))
if(number%2==0):
  print("This a multiple of 2")
else :
  print("Not a multiple of 2")

Enter a Number 3
Not a multiple of 2

Task 2 : find whether a key is available in dictionary or not

In [16]:
my_dict = {'a':1,'b':2,'c':3}

key_to_check = 'd'

if key_to_check in my_dict:
  print("Yes it is available")
else:
  print("Not avaiable")

Not avaiable

### **elif Statement**

In [18]:
a = 5
b = 10
c = 8

if a>b and a>c:
  print("a is greater than b and c")
elif b>a and b>c:
  print("b is greater than a and c")
elif c>a and c>b:
  print("c is greater than a and b")
else :
  print("a,b,c are equal")

b is greater than a and c

### **Nested Conditional Statement**

In [19]:
x = 10
y = 5

if(x>0):
  print("X is positive")

  if(y > 0):
    print("y is positive")

X is positive
y is positive

In [26]:
age = 15
income = 50000

if age>=18:
  print("You are eligible to vote")
  if income >= 30000:
    print("You are eligible for credit card")
  elif income >= 20000:
    print("You are eligible for loan")
  else:
    print("You are eligible to open savings account")

else:
  print("You are not eligible to vote")

You are not eligible to vote

### **Short hand if statement**

In [27]:
age = 25

if age >= 18: print("You are eligible to vote")

You are eligible to vote

In [28]:
text = "Hello Python"

contains_word = True if "Python" in text else False

print(contains_word)

True

In [29]:
score = 75

grade = "A" if score >= 90 else('B' if score >= 80 else ('C' if score >= 70 else 'D'))

print(grade)

C

Write a program to take three side lengths and  prints whether the triangle is equilateral, isosceles, or scalene

In [32]:
a = int(input())
b = int(input())
c = int(input())

if (a == b == c):
  print("Equilateral")
elif a == b or b == c or a == c:
  print("Isosceles")
else:
  print("Scalene")

2
2
2
Equilateral

Write a program that prints "Fizz" if a number is divisible by 3, "Buzz" if divisible by 5, "FizzBuzz" if divisible by both, or the number itself otherwise.2

In [31]:
a_number = int(input("Enter a number: "))

if a_number % 3 == 0 and a_number % 5 == 0:
  print("FizzBuzz")
elif a_number % 3 == 0:
  print("Fizz")
elif a_number % 5 == 0:
  print("Buzz")
else:
   print(a_number)

Enter a number: 15
FizzBuzz

Write a program that checks if a given string is a palindrome (reads the same backward).

In [34]:
str1 = str(input("Enter a string: "))

if str1 == str1[::-1]:
  print("It is a palindrome")
else :
  print("It is not a palindrome")

Enter a string: 121
It is a palindrome

## **Loops**

### **For loop**

In [35]:
x = "Hello World"

for i in range(1,21):
  print(f"{x} {i}")

Hello World 1
Hello World 2
Hello World 3
Hello World 4
Hello World 5
Hello World 6
Hello World 7
Hello World 8
Hello World 9
Hello World 10
Hello World 11
Hello World 12
Hello World 13
Hello World 14
Hello World 15
Hello World 16
Hello World 17
Hello World 18
Hello World 19
Hello World 20

In [36]:
fruits = ["apple","banana","cherry"]

for fruit in fruits:
  print(fruit)

apple
banana
cherry

In [38]:
number = [1,2,3,4,5,6,7,8,9,10]

for number in number:
  if(number%2==0):
    print(f"{number} is even")
  else :
    print(f"{number} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [39]:
numbers = [10,50,40,30,5,15]

max = 0

for number in numbers:
  if(number > max):
    max = number

print(max)

50

In [40]:
numbers2 = [10,50,40,30,5,15]

n = len(numbers2)

for i in range(n):
  print(numbers2[i])

10
50
40
30
5
15

In [41]:
for i in range(6):
  print(i)

else :
  print("Loop is completed")

0
1
2
3
4
5
Loop is completed

### **List Comprehension**

In [43]:
squares = [x ** 2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### **Generator Expressiom**

In [44]:
squares = (x ** 2 for x in range(1,11))
print(squares)

<generator object <genexpr> at 0x7e8331ca9b10>

In [45]:
for square in squares:
  print(square)

1
4
9
16
25
36
49
64
81
100

### **Nested For Loop**

In [48]:
for i in range(1,6):
  for j in range(1,11):
    print(i*j,end="\t")
  print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50

### **While Loop**

In [49]:
num = 1
while num <= 10:
  print(num)
  num+=1

1
2
3
4
5
6
7
8
9
10

In [50]:
n = int(input())

sum = 0
i = 2

while i <= n:
  sum+=i
  i+=2
print(sum)

16
72

### **Nested while loop**

In [52]:
outer_count = 0

while outer_count < 3:
  print(f"Outer loop iteration : {outer_count}")

  inner_count = 0
  while inner_count<2:
    print(f"Inner loop iteration : {inner_count}")
    inner_count+=1

  outer_count+=1

Outer loop iteration : 0
Inner loop iteration : 0
Inner loop iteration : 1
Outer loop iteration : 1
Inner loop iteration : 0
Inner loop iteration : 1
Outer loop iteration : 2
Inner loop iteration : 0
Inner loop iteration : 1

Find the sum of all even numbers from 1 to 100 using a for loop.

In [54]:
sum = 0

for i in range(1,101):
  if i%2 == 0:
    sum += i
print(sum)

2550

 Write a program to calculate the factorial of a number using a while loop.

In [59]:
number = 5
fact = 1

while number>1:
  fact = fact * number
  number = number -1

print(fact)

120