## **Control Transfer Statement**

### **Break**

In [4]:
number = 0
while number<=10:
  print(f"Hello {number}")
  if(number == 5):
    break
  number+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [5]:
for i in range(0,5):
  print(i)
  if(i==2):
    break

0
1
2

In [7]:
count = 0
while True:
  print("We are inside while loop")
  count+=1
  if count==5:
    break

We are inside while loop
We are inside while loop
We are inside while loop
We are inside while loop
We are inside while loop

### **Continue**

In [8]:
numbers = [1,2,3,4,5,6,7,8,9,10]

for num in numbers:
  if num % 2 ==0:
    continue
  print(num)

1
3
5
7
9

In [9]:
for i in range(11):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [10]:
i = 1
while i < 3:
  j = 0
  while j<5:
    j = j+1
    if j == 3:
      continue
    print(j)
  i = i+1

1
2
4
5
1
2
4
5

### **Pass**

In [11]:
count = 0

while count<5:
  pass ## This will be a place holder statement for writing future code
  print(count)
  count = count+1

0
1
2
3
4

## **Functions**

In [12]:
def greet(name):
  return f"Hello {name}"

output = greet("Soumallya")
print(output)

Hello Soumallya

In [13]:
def myfunction(*learners):
  print(f"One of the Learner in this course is {learners[2]}")

myfunction("Raman","Soumallya","Aritra")

One of the Learner in this course is Aritra

In [14]:
def my_country(country="India"):
  print("I am from " +country)

my_country("USA")
my_country("UK")
my_country() ## default Parameter
my_country("Japan")

I am from USA
I am from UK
I am from India
I am from Japan

In [16]:
## Not possbile
def function(a,b=10,c):
  return a+b-c

output = function(10, ,12)
print(output)

SyntaxError: non-default argument follows default argument (<ipython-input-16-e05bc80a73c3>, line 1)

In [17]:
## Possible
def function(a,b,c=10):
  return a+b-c

output = function(10,12)
print(output)

12

In [20]:
def calculateResult(x,y,w=1,z=5):
  return x+y+w+z

output = calculateResult(1,2,4)
print(output)

12

In [22]:
def my_function(lst):
  for i in lst:
    print(i)

my_function([1,2,3,4,5])

1
2
3
4
5

Create a function "calculate" in which it is having add functionality, subtraction functionality, multiplication and division functionality of two numbers.

In [28]:
def calc(op1,op2,op="+"):
  def sum(op1,op2):
    return op1+op2
  def sub(op1,op2):
    return op1-op2
  def mul(op1,op2):
    return op1*op2
  def div(op1,op2):
    return op1/op2
  if op == "+":
    return sum(op1,op2)
  elif op == "-":
    return sub(op1,op2)
  elif op == "*":
    return mul(op1,op2)
  else :
    return div(op1,op2)

output = calc(10,0,"*")
print(output)

0

### **Print V/S Return in function**

In [30]:
def add_with_print(a,b):
  print(a+b)

def add_with_return(a,b):
  return a+b

add_with_print(10,20)
result = add_with_return(10,20)
print(result)

30
30

### **If a number is armstrong number**

In [34]:
number = 153

def armstrongNumber(number):
  n = 0

  temp=number

  while temp!=0:
    temp = temp//10
    n+=1


  sum = 0
  temp = number

  while temp!=0:
    digit = temp%10
    sum += digit **n
    temp = temp//10

  if sum==number:
      print("Armstrong Number")
  else:
      print("Not Armstrong Number")

armstrongNumber(153)

Armstrong Number

### **Another way**

In [40]:
def is_armstrong(num):
  str_num = str(num)
  num_digits = len(str_num)

  sumOfPowers = 0

  for digit in str_num :
    sumOfPowers += int(digit)**num_digits

  if sumOfPowers == num:
    return True
  else:
    return False

is_armstrong(9174)

False

### **Multiple Value Return**

In [42]:
def sum_and_product(a,b):
  sum = a+b
  product = a*b
  return sum,product

num1 = 6
num2 = 10
sum_result , product_result = sum_and_product(num1,num2)
print(sum_result)
print(product_result)

16
60

### **Nested Function**

In [46]:
def calculator(x,y):
  def add(x,y):
    return x+y
  def multiply(x,y):
    return x*y
  def calc(op,x,y):
    if op == "add":
      return add(x,y)
    else:
      return multiply(x,y)

  return calc("multiply",x,y) , calc("add",x,y)

result = calculator(2,3)
print(result)

(6, 5)

### ***args**

In [1]:
def myFun(*args):
  for arg in args:
    print(arg)

myFun('Soumallya','Chandra','Chandra')

Soumallya
Chandra
Chandra

### ****kwargs**

In [2]:
def my_fun(**kwargs):
  print(kwargs)

my_fun(name="Soumallya",age=30)

{'name': 'Soumallya', 'age': 30}