## **Tuples**

In [38]:
my_tuple = (1,2,3)
type(my_tuple)

tuple

In [2]:
my_tuple[1]

2

In [6]:
tuple_new = ('apple',123,True,3.14,[1,2,3])
print(tuple_new[-1][1])

2

In [8]:
## Tuple slicing
print(tuple_new[1:4])

(123, True, 3.14)

In [9]:
## End point specified
print(tuple_new[:-1])

('apple', 123, True, 3.14)

In [10]:
## Step size specified
print(tuple_new[::-1])

([1, 2, 3], 3.14, True, 123, 'apple')

### **Built-in functions**

In [13]:
## Minimum of tuple
min_element = min(my_tuple)
print(min_element)

1

In [15]:
## Maximum of tuple
max_element = max(my_tuple)
print(max_element)

3

In [16]:
## Sum of a tuple
sum_element = sum(my_tuple)
print(sum_element)

6

In [28]:
## Count function
my_tuple2 = (1,2,1,3,4,5)
count_element = my_tuple2.count(1)
print(count_element)
print(my_tuple2.count(1))

2
2

In [27]:
## index of element in tuple
pos = my_tuple2.index(3)
print(pos)

3

### **Conversion Tuple to list, List to Tuple**

In [17]:
tuple2 = ("Soumallya","Pritha","Princess","Roni")
my_list = list(tuple2)
print(my_list)

['Soumallya', 'Pritha', 'Princess', 'Roni']

In [20]:
my_list.extend(["Prapti","Ramij","Subha"])
print(my_list)

['Soumallya', 'Pritha', 'Princess', 'Roni', 'Prapti', 'Ramij', 'Subha']

In [22]:
tuple2 = tuple(my_list)
print(tuple2)

('Soumallya', 'Pritha', 'Princess', 'Roni', 'Prapti', 'Ramij', 'Subha')

In [41]:
## Packing and unpacking
a, b, c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [65]:
## Packing and unpacking
my_tuple = (1,2,3,4)
a,*b,c = my_tuple
print(a)
print(b)
print(c)

1
[2, 3]
4

In [66]:
## Combined tuple
tuple1 = (1,2,3)
tuple2 = (4,5,6)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6)

In [67]:
tuple2 = (7 ,) ## This is a tuple
tup3 = (8) ## This is not a tuple
print(tuple2)
print(type(tuple2))
print(type(tup3))

(7,)
<class 'tuple'>
<class 'int'>

## **Sets**

In [29]:
set1 = set() ## Empty original set
## Sets are changeable

set2 = {1,2,3}

set3 = {1,"one",3.4}

In [30]:
print(set2)

{1, 2, 3}

In [31]:
type(set3)

set

In [32]:
set4 = {1,2,31,1,1,4}

In [34]:
print(set4)

{1, 2, 4, 31}

In [35]:
my_string = "hello"
myset = set(my_string)
print(myset)

{'e', 'o', 'h', 'l'}

In [42]:
print('e' in myset)

True

In [43]:
len(myset)

4

In [47]:
## Mutable types cannot be elements of se
my_set =  {['a', 'b', 'c']}
print(my_set)

TypeError: unhashable type: 'list'

### **Built-in functions**

In [49]:
## add function
my_set = {1,2,3,4,5,6,7}
my_set.add(8)
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [51]:
## update function
my_set.update([9,10,11])
print(my_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [53]:
my_set2 = {('a','b','c')}
print(my_set2) ## Tuple can be stored because they are hashable

{('a', 'b', 'c')}

### **Join Sets**

In [54]:
set1 = {1,2,3}
set2 = {4,5,6}
union_set = set1.union(set2) ## Union will combine we can also use symbol |
print(union_set)

{1, 2, 3, 4, 5, 6}

In [57]:
set1 = {1,2,3}
set2 = {3,5,6}
intersectionset = set1 & set2 ## Only prints the common elements
print(intersectionset)

{3}

In [58]:
set1 = {1,2,3}
set2 = {3,5,6}

differenceset = set1 - set2 ## only the elements avaiable in set1 and not in set 2
print(differenceset)

{1, 2}

In [59]:
set1 = {1,2,3}
set2 = {3,5,6}

symmetricdifferenceset = set1 ^ set2 ## will print everything expect common elements
print(symmetricdifferenceset)

{1, 2, 5, 6}

### **Another version of all of this update()**

In [ ]:
## Task to explore and give me the difference between the above methods and _update() methods in the set

Task: Merge the below two tuples and then remove the duplicate values and return the final output as a tuple.

tup1 = (1, 2, 3)

tup2 = (3, 4, 5)

In [63]:
## This is for not keeping any value which ocuurs twice
tup1 = (1,2,3)
tup2 = (3,4,5)
set1 = set(tup1)
set2 = set(tup2)
unique_elemets = set1^set2
print(unique_elemets)
tup3 = tuple(unique_elemets)
print(tup3)

{1, 2, 4, 5}
(1, 2, 4, 5)

In [69]:
## another way
tup1 = (1,2,3)
tup2 = (3,4,5)

merged = tup1+tup2
unique_elemets = tuple(set(merged))
print(unique_elemets)

(1, 2, 3, 4, 5)

In [70]:
## Function definition
def merge_and_remove_duplicated(tup1,tup2):
  return tuple(set(tup1+tup2))
## driver code
tup1 = (1,2,3)
tup2 = (3,4,5)
## fucntion call
print(merge_and_remove_duplicated(tup1,tup2))

(1, 2, 3, 4, 5)

## **Dictionaries**

In [71]:
my_dict = {"name":"Soumallya Chandra",
           "age" : 21,
           "salary" : 40000,
           "city":"delhi",
           "location":"south"
           }

print(my_dict)

{'name': 'Soumallya Chandra', 'age': 21, 'salary': 40000, 'city': 'delhi', 'location': 'south'}

In [72]:
my_dict["salary"]

40000

In [73]:
scores = {"Alice":90,"Charlie":76}
print(scores)

{'Alice': 90, 'Charlie': 76}

In [75]:
print(scores["Charlie"])

76

### **Built-in functions**

In [76]:
## To get keys from a dictionary
print(my_dict.keys())

dict_keys(['name', 'age', 'salary', 'city', 'location'])

In [77]:
print(my_dict.values())

dict_values(['Soumallya Chandra', 21, 40000, 'delhi', 'south'])

In [78]:
print(my_dict.items())

dict_items([('name', 'Soumallya Chandra'), ('age', 21), ('salary', 40000), ('city', 'delhi'), ('location', 'south')])

In [79]:
## Keys in the dictionary are immutable
my_dict

{'name': 'Soumallya Chandra',
 'age': 21,
 'salary': 40000,
 'city': 'delhi',
 'location': 'south'}

### Add new keys in dictionary

In [80]:
my_dict['position'] = 'SDE'
my_dict['College'] = 'The Neotia University'
print(my_dict)

{'name': 'Soumallya Chandra', 'age': 21, 'salary': 40000, 'city': 'delhi', 'location': 'south', 'position': 'SDE', 'College': 'The Neotia University'}

In [81]:
my_dict.update({'Salary':50000,'city':'Kolkata'})

In [82]:
my_dict

{'name': 'Soumallya Chandra',
 'age': 21,
 'salary': 40000,
 'city': 'Kolkata',
 'location': 'south',
 'position': 'SDE',
 'College': 'The Neotia University',
 'Salary': 50000}

In [83]:
## deleting a key from dictionary

del my_dict['city']

In [85]:
## Dictionaries are mutable

my_dict

{'name': 'Soumallya Chandra',
 'age': 21,
 'salary': 40000,
 'location': 'south',
 'position': 'SDE',
 'College': 'The Neotia University',
 'Salary': 50000}

In [86]:
## Task : Check if all the elements in the list are unique or not

list1 = [1,2,3,4,2]

def all_unique(list1):
  return len(list1) == len(set(list1))

print(all_unique(list1))

False

In [87]:
## Task : Count of occurence of each element in a list and return a dictionary
lst = ['a','b','a','b','c','a']

output = {}

for item in lst:
  if item in output:
    output[item] += 1
  else:
    output[item] = 1

print(output)

{'a': 3, 'b': 2, 'c': 1}

In [88]:
## Task : swap key and values in a dictionary

dict1 = {'a':1,'b':2,'c':3}

## Dictioary comprehension
swapped = {value: key for key, value in dict1.items()}

print(swapped)

{1: 'a', 2: 'b', 3: 'c'}